@charset "utf-8";

body {background-color: #dedede; 	font-family:Arial, Helvetica, sans-serif;}

/* Форма авторизации */
.main_frame {
    margin:0 auto;
    background-color: #FFFFFF;
    border-radius: 10px;
    width: 500px;
    height: 300px;
    border: 1px solid #AAAAAA;
}

.head {
    background-image: url(../pict/auth_head_bg.jpg);
    background-position: bottom;
    background-repeat: repeat-x;
    background-color: #ffdd49;
    width: 500px;
    height: 60px;
    line-height: 60px;
    font-size: 24px;
    text-align: center;
    color:#FFFFFF;
    border-radius: 10px 10px 0px 0px;

    text-shadow: black 1px 1px 3px, #fDfDfD 0 0 1em;
}

.lock {
    width:130px;
    height: 182px;
    background: url(../pict/misc.png) -215px -130px no-repeat;
    float: left;

}

.enter_btn {
    margin-left:160px;
    width: 179px;
    height: 38px;
    border: 0px;
    border-left:1px solid #9c4718;
    border-top:1px solid #9c4718;
    border-right:1px solid #9c4718;
    border-bottom:1px solid #9c4718;
    border-radius: 5px;
    background-image: url(../pict/auth_btn_bg.png);
    color: #FFFFFF;
    font-size: 22px;
    vertical-align: middle;
    text-shadow:
-1px -1px 0 #b4521c,
1px -1px 0 #b4521c,
-1px 1px 0 #b4521c,
1px 1px 0 #b4521c;
}


.shadow{
    margin: 0 auto;
    width: 500px;
    height: 18px;
    background-image: url(../pict/lower_shadow_auth.png);
}

.fields {
    margin-left: 130px;
    width:370px;
    height: 182px;
}

label {
    font-size: 16px;
    font-weight: bold;
    color:#828282;
}

.user_name{
    text-indent: 10px;
    font-size: 16px;
    color:#555555;
    margin-top: 50px;
    margin-left: 61px;
    width:220px;
    height: 26px;
    line-height: 26px;
    border: 0;
    border-radius: 5px;
    border-left:1px solid #d0d0d0;
    border-top:1px solid #d0d0d0;
    border-right:1px solid #d0d0d0;
    border-bottom:1px solid #d0d0d0;
    background-position: bottom;
    background-image: url(../pict/field_bg2.png);
    background-repeat: repeat-x;
}

.pass{
    text-indent: 10px;
    font-size: 16px;
    color:#555555;
    margin-top: 25px;
    margin-left: 47px;
    width:220px;
    height: 26px;
    line-height: 26px;
    border: 0;
    border-radius: 5px;
    border-left:1px solid #d0d0d0;
    border-top:1px solid #d0d0d0;
    border-right:1px solid #d0d0d0;
    border-bottom:1px solid #d0d0d0;
    background-position: bottom;
    background-image: url(../pict/field_bg2.png);
    background-repeat: repeat-x;
}

.recover {
    margin-left: 112px;
    margin-top: 10px;
}

.recover a {
    font-size: 14px;
    color:#f36f26;
}

#preloader {
    display: none;
}

#preloader .blocker {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background: #D2D2D2;
    opacity: 0.3;
    filter: alpha(opacity = 30);
    cursor: wait;
}

#preloader .runner {
    position: fixed;
    width: 160px;
    height: 30px;
    left: 50%;
    top: 50%;
    margin-left: -80px;
    z-index: 2000;
    cursor: wait;
}

#preloader .runner .div1 {
    background-color: #FFB6C1;
    background-image:url(../pict/loader5-1.gif);
    background-repeat: no-repeat;
    color: #2F4F4F;
    line-height: 30px;
    overflow: hidden;
    vertical-align: middle;
    white-space: nowrap;
    width: 40px;
    height: 30px;
    float:left;
}

#preloader .runner .div2 {
    background-color: #FFB6C1;
    background-image:url(../pict/loader5-2.gif);
    background-repeat: no-repeat;
    font-weight: bold;
    line-height: 30px;
    overflow: hidden;
    vertical-align: middle;
    white-space: nowrap;
    width: 120px;
    height: 30px;
}

@media screen {
    div#pppreloader {
        position: fixed;
    }

    * html div#pppreloader {
        /*        top: expression( ( 5 + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop ) ) + 'px' ); */
        position: absolute;
        height: 24px;
    }

}

/* Форма авторизации */


/* Форма мини авторизации */
.main_frame_mini {
    margin:0 auto;
    background-color: #FFFFFF;
    border-radius: 5px;
    width: 180px;
    height: 180px;
    border: 1px solid #AAAAAA;
}

.head_mini {
    background-image: url(../pict/auth_head_mini.png);
    background-position: bottom;
    background-repeat: repeat-x;
    background-color: #ffdd49;
    width: 180px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    text-align: center;
    color:#FFFFFF;
    border-radius: 5px 5px 0px 0px;
    text-shadow: black 1px 1px 2px, #fDfDfD 0 0 1px;
    margin-bottom: 10px;
}



.fields_mini {
    width:180px;
    height: 200px;
}


.label_user {
    background: url(../pict/bg_icons.png)-5px -1333px no-repeat;
    margin-left: 10px;
    font-size: 14px;
    font-weight: bold;
    color:#828282;
    padding-left: 22px;
}


.user_name_mini{
    text-indent: 10px;
    font-size: 14px;
    color:#555555;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 10px;
    width:160px;
    height: 20px;
    line-height: 20px;
    border: 0;
    border-radius: 5px;
    border-left:1px solid #d0d0d0;
    border-top:1px solid #d0d0d0;
    border-right:1px solid #d0d0d0;
    border-bottom:1px solid #d0d0d0;
    background-position: bottom;
    background-image: url(../pict/field_bg_mini.png);
    background-repeat: repeat-x;
}


.label_pass {
    margin-top: 10px;
    padding-left: 20px;
    background: url(../pict/bg_icons.png)-5px -1357px no-repeat;
    margin-left: 10px;
    font-size: 14px;
    font-weight: bold;
    color:#828282;
    height: 100px;
}


.pass_mini{
    text-indent: 10px;
    font-size: 14px;
    color:#555555;
    margin-top: 5px;
    margin-left: 10px;
    width:160px;
    height: 20px;
    line-height: 20px;
    border: 0;
    border-radius: 5px;
    border-left:1px solid #d0d0d0;
    border-top:1px solid #d0d0d0;
    border-right:1px solid #d0d0d0;
    border-bottom:1px solid #d0d0d0;
    background-position: bottom;
    background-image: url(../pict/field_bg_mini.png);
    background-repeat: repeat-x;
}

.recover_mini {
    margin-left: 12px;
    margin-top: 10px;
}

.recover_mini a {
    font-size: 11px;
    color:#f36f26;
}


.enter_btn_mini {
    margin-left:100px;
    margin-top: -15px;
    width: 70px;
    height: 24px;
    border: 0px;
    border-left:1px solid #9c4718;
    border-top:1px solid #9c4718;
    border-right:1px solid #9c4718;
    border-bottom:1px solid #9c4718;
    border-radius: 5px;
    background-image: url(../pict/auth_btn_bg_mini.png);
    color: #FFFFFF;
    font-size: 16px;
    vertical-align: middle;
    text-shadow:
        -1px -1px 0 #b4521c,
        1px -1px 0 #b4521c,
        -1px 1px 0 #b4521c,
        1px 1px 0 #b4521c;
}


.shadow_mini{
    margin: 0 auto;
    width: 180px;
    height: 18px;
    background-image: url(../pict/lower_shadow_auth_mini.png);
    background-repeat: no-repeat;
}


/* Форма мини авторизации */
